<script type="text/x-handlebars" id="error">
  <div class="alert alert-danger">
    <h4>Error</h4>

    <p>{{message}}</p>
  </div>
</script>

<script type="text/x-handlebars" id="fatal-error">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="main-container">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">minicron</a>
      </div>
    </div>
  </div>

  <div class="main-container clearfix">
    <div class="sidebar"></div>

    <div class="main-panel">
      <div class="inner">
        <div class="alert alert-danger">
          <h4>Fatal Error</h4>

          <p>{{message}}</p>
        </div>
      </div>
    </div>
  </div>
</script>