<script type="text/x-handlebars" id="executions/index">
  <header>
    <h2>Welcome to minicron!</h2>
  </header>
  <hr/>

  To get started you need to {{#link-to 'hosts.new'}}set up a host{{/link-to}} and
  then you can {{#link-to 'jobs.new'}}add your first job{{/link-to}}!
</script>

<script type="text/x-handlebars" id="execution/index">
  <section>
    <header class="clearfix">
      <h2 class="pull-left">Execution #{{number}}</h2>
      <a {{action 'delete' this}} class="pull-right btn btn-danger btn-sm">Delete</a>
    </header>
    <hr/>

    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-2 control-label">Created At</label>
        <div class="col-sm-10">
          <div class="form-control form-control-view">{{created_at}}</div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Started At</label>
        <div class="col-sm-10">
          <div class="form-control form-control-view">{{started_at}}</div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Finished At</label>
        <div class="col-sm-10">
          <div class="form-control form-control-view">{{finished_at}}</div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Exit Status</label>
        <div class="col-sm-10">
          <div class="form-control form-control-view">{{exit_status}}</div>
        </div>
      </div>
    </form>
  </section>

  <section>
    <header class="clearfix">
      <h2 class="pull-left">Job</h2>
      {{#link-to 'job.edit' job.id class="pull-right btn btn-warning btn-sm"}}Edit{{/link-to}}
      {{#link-to 'job' job.id class="pull-right btn btn-info btn-sm"}}View{{/link-to}}
    </header>
    <hr/>

    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <div class="form-control form-control-view">{{job.name}}</div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Command</label>
        <div class="col-sm-10">
          <div class="form-control form-control-view">{{job.command}}</div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Host</label>
        <div class="col-sm-10">
          <div class="form-control form-control-view">{{job.host.name}}</div>
        </div>
      </div>
    </form>
  </section>

  <section>
    <header>
      <h2>Output</h2>
    </header>
    <hr/>

    <div class="output tomorrow-night-eighties-ansi-theme">{{#each controller.sortedOutput}}{{ansi_to_html output}}{{/each}}</div>
  </section>
</script>
