<script type="text/x-handlebars" id="hosts/index">
  <header class="clearfix">
    <h2 class="pull-left">Hosts</h2>
    {{#link-to 'hosts.new' class="pull-right btn btn-success btn-sm"}}Add New Host{{/link-to}}
  </header>
  <hr/>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>FQDN</th>
        <th>Host</th>
        <th>Port</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
    {{#each model}}
      <tr>
        <td>{{#link-to 'host' id}}{{id}}{{/link-to}}</td>
        <td>{{name}}</td>
        <td>{{fqdn}}</td>
        <td>{{host}}</td>
        <td>{{port}}</td>
        <td>
          {{#link-to 'host' id class="btn btn-info btn-xs"}}View{{/link-to}}
          {{#link-to 'host.edit' id class="btn btn-warning btn-xs"}}Edit{{/link-to}}
          <a {{action 'delete' this}} class="btn btn-danger btn-xs">Delete</a>
        </th>
      </tr>
    {{/each}}
    </body>
  </table>
</script>

<script type="text/x-handlebars" id="host/index">
  <section>
    <header class="clearfix">
      <h2 class="pull-left">Host '{{name}}'</h2>
      <a {{action 'delete' this}} class="pull-right btn btn-danger btn-sm">Delete</a>
      {{#link-to 'host.edit' id class="pull-right btn btn-warning btn-sm"}}Edit{{/link-to}}
      <a {{action 'test' this}} class="pull-right btn btn-info btn-sm">{{test_connection}}</a>
    </header>
    <hr/>

    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-2 control-label">ID</label>
        <div class="col-sm-10">
          {{input value=id disabled="disabled" type="text" class="form-control"}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          {{input value=name disabled="disabled" type="text" class="form-control"}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">FQDN</label>
        <div class="col-sm-10">
          {{input value=fqdn disabled="disabled" type="text" class="form-control"}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Host</label>
        <div class="col-sm-10">
          {{input value=host disabled="disabled" type="text" class="form-control"}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Port</label>
        <div class="col-sm-10">
          {{input value=port disabled="disabled" type="text" class="form-control"}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Public Key</label>
        <div class="col-sm-10">
          {{textarea value=public_key disabled="disabled" class="form-control" rows="9"}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Created At</label>
        <div class="col-sm-10">
          {{input value=created_at disabled="disabled" type="text" class="form-control"}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Updated At</label>
        <div class="col-sm-10">
          {{input value=updated_at disabled="disabled" type="text" class="form-control"}}
        </div>
      </div>
    </form>
  </section>

  <section>
    <header class="clearfix">
      <h2>Jobs</h2>
    </header>
    <hr/>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Command</th>
          <th>Host</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
      {{#each job in jobs}}
        <tr>
          <td>{{#link-to 'job' job.id}}{{job.id}}{{/link-to}}</td>
          <td>{{job.name}}</td>
          <td>{{job.command}}</td>
          <td>{{#link-to 'host' job.host.id}}{{job.host.name}}{{/link-to}}</td>
          <td>
            {{#link-to 'job' job.id class="btn btn-info btn-xs"}}View{{/link-to}}
            {{#link-to 'job.edit' job.id class="btn btn-warning btn-xs"}}Edit{{/link-to}}
          </th>
        </tr>
      {{/each}}
      </body>
    </table>
  </section>
</script>

<script type="text/x-handlebars" id="hosts/new">
  <header>
    <h2>Add New Host</h2>
  </header>
  <hr/>

  <form class="form-horizontal" role="form" {{action 'save' on='submit'}}>
    <div class="form-group">
      <label class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        {{input value=name type="text" class="form-control" placeholder="A nickname for the host e.g 'fred' - OPTIONAL"}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">FQDN</label>
      <div class="col-sm-10">
        {{input value=fqdn type="text" class="form-control" placeholder="The machine fully qualified domain name e.g 'server1.host.com'"}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Host</label>
      <div class="col-sm-10">
        {{input value=host type="text" class="form-control" placeholder="The machine host, this could be an IP address or FQDN"}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Port</label>
      <div class="col-sm-10">
        {{input value=port type="text" class="form-control" placeholder="The port to connect on, if empty this is assumed to be 22"}}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success">Save</button>
        <button {{action 'cancel'}} class="btn btn-danger">Cancel</button>
      </div>
    </div>
  </form>
</script>

<script type="text/x-handlebars" id="host/edit">
  <header class="clearfix">
    <h2 class="pull-left">Edit Host '{{name}}'</h2>
    <a {{action 'delete' this}} class="pull-right btn btn-danger btn-sm">Delete</a>
    <a {{action 'test' this}} class="pull-right btn btn-info btn-sm">{{test_connection}}</a>
  </header>
  <hr/>

  <form class="form-horizontal" role="form" {{action 'save' on='submit'}}>
    <div class="form-group">
      <label class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        {{input value=name type="text" class="form-control" placeholder="A nickname for the host e.g 'fred' - OPTIONAL"}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">FQDN</label>
      <div class="col-sm-10">
        {{input value=fqdn type="text" class="form-control" placeholder="The machine fully qualified domain name e.g 'server1.host.com'"}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Host</label>
      <div class="col-sm-10">
        {{input value=host type="text" class="form-control" placeholder="The machine host, this could be an IP address or FQDN"}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Port</label>
      <div class="col-sm-10">
        {{input value=port type="text" class="form-control" placeholder="The port to connect on, if empty this is assumed to be 22"}}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success">Save</button>
        <button {{action 'cancel' this}} class="btn btn-danger">Cancel</button>
      </div>
    </div>
  </form>
</script>