<script type="text/x-handlebars" id="jobs/index">
  <header class="clearfix">
    <h2 class="pull-left">Jobs</h2>
    <a href="#" class="pull-right btn btn-success btn-sm">Add New Job</a>
  </header>
  <hr/>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Command</th>
        <th>Host</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
    {{#each model}}
      <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{command}}</td>
        <td>{{#link-to 'host' host.id}}{{host.name}}{{/link-to}}</td>
        <td>
          {{#link-to 'job' id class="btn btn-info btn-xs"}}View{{/link-to}}
          <a href="#" class="btn btn-warning btn-xs">Edit</a>
          <a href="#" class="btn btn-danger btn-xs">Delete</a>
        </th>
      </tr>
    {{/each}}
    </body>
  </table>
</script>

<script type="text/x-handlebars" id="job">
  <h2>Job</h2>

  <li><b>ID:</b> {{id}}</li>
  <li><b>Hash:</b> {{job.job_hash}}</li>
  <li><b>Name:</b> {{name}}</li>
  <li><b>Command:</b> {{command}}</b></li>
  <li><b>Host:</b> {{job.host.name}}</b></li>
  <li><b>Created At:</b> {{date created_at}}</b></li>
  <li><b>Updated At:</b> {{date updated_at}}</b></li>

  <h2>Executions</h2>

  {{#each execution in executions}}
    <li>{{#link-to 'execution' execution.id}}{{execution.id}}{{/link-to}}
  {{/each}}
</script>