<script type="text/x-handlebars" id="components/schedule-editor">
  <form class="form-horizontal" role="form" {{action 'save' on='submit'}}>
  <div class="panel-group" id="schedule-editor">
      <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#schedule-editor" href="#schedule-minute">
          <div class="panel-heading">
            <h4 class="panel-title">Minute</h4>
          </div>
        </a>
        <div id="schedule-minute" class="panel-collapse collapse in">
          <div class="panel-body">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#every-minute" data-toggle="tab">every minute</a></li>
              <li><a href="#every-n-minutes" data-toggle="tab">every n minutes</a></li>
              <li><a href="#each-selected-minute" data-toggle="tab">each selected minute</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="every-minute">The job will run every minute</div>
              <div class="tab-pane" id="every-n-minutes">
                The job will run every <input  id="every-n-minutes-value" type="number" min="1" max="59" value="5" class="every-n"></span> minutes
              </div>
              <div class="tab-pane" id="each-selected-minute">
                <div class="btn-group clearfix" data-toggle="buttons">
                  <label class="btn btn-primary"><input type="checkbox"/>00</label>
                  <label class="btn btn-primary"><input type="checkbox"/>01</label>
                  <label class="btn btn-primary"><input type="checkbox"/>02</label>
                  <label class="btn btn-primary"><input type="checkbox"/>03</label>
                  <label class="btn btn-primary"><input type="checkbox"/>04</label>
                  <label class="btn btn-primary"><input type="checkbox"/>05</label>
                  <label class="btn btn-primary"><input type="checkbox"/>06</label>
                  <label class="btn btn-primary"><input type="checkbox"/>07</label>
                  <label class="btn btn-primary"><input type="checkbox"/>08</label>
                  <label class="btn btn-primary"><input type="checkbox"/>09</label>
                </div>

                <div class="btn-group clearfix" data-toggle="buttons">
                  <label class="btn btn-primary"><input type="checkbox"/>10</label>
                  <label class="btn btn-primary"><input type="checkbox"/>11</label>
                  <label class="btn btn-primary"><input type="checkbox"/>12</label>
                  <label class="btn btn-primary"><input type="checkbox"/>13</label>
                  <label class="btn btn-primary"><input type="checkbox"/>14</label>
                  <label class="btn btn-primary"><input type="checkbox"/>15</label>
                  <label class="btn btn-primary"><input type="checkbox"/>16</label>
                  <label class="btn btn-primary"><input type="checkbox"/>17</label>
                  <label class="btn btn-primary"><input type="checkbox"/>18</label>
                  <label class="btn btn-primary"><input type="checkbox"/>19</label>
                </div>

                <div class="btn-group clearfix" data-toggle="buttons">
                  <label class="btn btn-primary"><input type="checkbox"/>20</label>
                  <label class="btn btn-primary"><input type="checkbox"/>21</label>
                  <label class="btn btn-primary"><input type="checkbox"/>22</label>
                  <label class="btn btn-primary"><input type="checkbox"/>23</label>
                  <label class="btn btn-primary"><input type="checkbox"/>24</label>
                  <label class="btn btn-primary"><input type="checkbox"/>25</label>
                  <label class="btn btn-primary"><input type="checkbox"/>26</label>
                  <label class="btn btn-primary"><input type="checkbox"/>27</label>
                  <label class="btn btn-primary"><input type="checkbox"/>28</label>
                  <label class="btn btn-primary"><input type="checkbox"/>29</label>
                </div>

                <div class="btn-group clearfix" data-toggle="buttons">
                  <label class="btn btn-primary"><input type="checkbox"/>30</label>
                  <label class="btn btn-primary"><input type="checkbox"/>31</label>
                  <label class="btn btn-primary"><input type="checkbox"/>32</label>
                  <label class="btn btn-primary"><input type="checkbox"/>33</label>
                  <label class="btn btn-primary"><input type="checkbox"/>34</label>
                  <label class="btn btn-primary"><input type="checkbox"/>35</label>
                  <label class="btn btn-primary"><input type="checkbox"/>36</label>
                  <label class="btn btn-primary"><input type="checkbox"/>37</label>
                  <label class="btn btn-primary"><input type="checkbox"/>38</label>
                  <label class="btn btn-primary"><input type="checkbox"/>39</label>
                </div>

                <div class="btn-group clearfix" data-toggle="buttons">
                  <label class="btn btn-primary"><input type="checkbox"/>40</label>
                  <label class="btn btn-primary"><input type="checkbox"/>41</label>
                  <label class="btn btn-primary"><input type="checkbox"/>42</label>
                  <label class="btn btn-primary"><input type="checkbox"/>43</label>
                  <label class="btn btn-primary"><input type="checkbox"/>44</label>
                  <label class="btn btn-primary"><input type="checkbox"/>45</label>
                  <label class="btn btn-primary"><input type="checkbox"/>46</label>
                  <label class="btn btn-primary"><input type="checkbox"/>47</label>
                  <label class="btn btn-primary"><input type="checkbox"/>48</label>
                  <label class="btn btn-primary"><input type="checkbox"/>49</label>
                </div>

                <div class="btn-group clearfix" data-toggle="buttons">
                  <label class="btn btn-primary"><input type="checkbox"/>50</label>
                  <label class="btn btn-primary"><input type="checkbox"/>51</label>
                  <label class="btn btn-primary"><input type="checkbox"/>52</label>
                  <label class="btn btn-primary"><input type="checkbox"/>53</label>
                  <label class="btn btn-primary"><input type="checkbox"/>54</label>
                  <label class="btn btn-primary"><input type="checkbox"/>55</label>
                  <label class="btn btn-primary"><input type="checkbox"/>56</label>
                  <label class="btn btn-primary"><input type="checkbox"/>57</label>
                  <label class="btn btn-primary"><input type="checkbox"/>58</label>
                  <label class="btn btn-primary"><input type="checkbox"/>59</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#schedule-editor" href="#schedule-hour">
          <div class="panel-heading">
            <h4 class="panel-title">Hour</h4>
          </div>
        </a>
        <div id="schedule-hour" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#every-hour" data-toggle="tab">every hour</a></li>
              <li><a href="#every-n-hours" data-toggle="tab">every n hours</a></li>
              <li><a href="#each-selected-hour" data-toggle="tab">each selected hour</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="every-hour">The job will run every hour</div>
              <div class="tab-pane" id="every-n-hours">
                The job will run every <input id="every-n-hours-value" type="number" min="1" max="23" value="5" class="every-n"></span> hours
              </div>
              <div class="tab-pane" id="each-selected-hour">
                <div class="btn-group clearfix" data-toggle="buttons">
                  <label class="btn btn-primary"><input type="checkbox"/>00</label>
                  <label class="btn btn-primary"><input type="checkbox"/>01</label>
                  <label class="btn btn-primary"><input type="checkbox"/>02</label>
                  <label class="btn btn-primary"><input type="checkbox"/>03</label>
                  <label class="btn btn-primary"><input type="checkbox"/>04</label>
                  <label class="btn btn-primary"><input type="checkbox"/>05</label>
                  <label class="btn btn-primary"><input type="checkbox"/>06</label>
                  <label class="btn btn-primary"><input type="checkbox"/>07</label>
                  <label class="btn btn-primary"><input type="checkbox"/>08</label>
                  <label class="btn btn-primary"><input type="checkbox"/>09</label>
                  <label class="btn btn-primary"><input type="checkbox"/>10</label>
                  <label class="btn btn-primary"><input type="checkbox"/>11</label>
                </div>

                <div class="btn-group clearfix" data-toggle="buttons">
                  <label class="btn btn-primary"><input type="checkbox"/>12</label>
                  <label class="btn btn-primary"><input type="checkbox"/>13</label>
                  <label class="btn btn-primary"><input type="checkbox"/>14</label>
                  <label class="btn btn-primary"><input type="checkbox"/>15</label>
                  <label class="btn btn-primary"><input type="checkbox"/>16</label>
                  <label class="btn btn-primary"><input type="checkbox"/>17</label>
                  <label class="btn btn-primary"><input type="checkbox"/>18</label>
                  <label class="btn btn-primary"><input type="checkbox"/>19</label>
                  <label class="btn btn-primary"><input type="checkbox"/>20</label>
                  <label class="btn btn-primary"><input type="checkbox"/>21</label>
                  <label class="btn btn-primary"><input type="checkbox"/>22</label>
                  <label class="btn btn-primary"><input type="checkbox"/>23</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#schedule-editor" href="#schedule-dotm">
          <div class="panel-heading">
            <h4 class="panel-title">Day of the month</h4>
          </div>
        </a>
        <div id="schedule-dotm" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#every-day-of-the-month" data-toggle="tab">every day of the month</a></li>
              <li><a href="#each-selected-day-of-the-month" data-toggle="tab">each selected day of the month</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="every-day-of-the-month">The job will run every day of the month</div>
              <div class="tab-pane" id="each-selected-day-of-the-month">
                <div class="btn-group clearfix" data-toggle="buttons">
                  <label class="btn btn-primary"><input type="checkbox"/>01</label>
                  <label class="btn btn-primary"><input type="checkbox"/>02</label>
                  <label class="btn btn-primary"><input type="checkbox"/>03</label>
                  <label class="btn btn-primary"><input type="checkbox"/>04</label>
                  <label class="btn btn-primary"><input type="checkbox"/>05</label>
                  <label class="btn btn-primary"><input type="checkbox"/>06</label>
                  <label class="btn btn-primary"><input type="checkbox"/>07</label>
                </div>

                <div class="btn-group clearfix" data-toggle="buttons">
                  <label class="btn btn-primary"><input type="checkbox"/>08</label>
                  <label class="btn btn-primary"><input type="checkbox"/>09</label>
                  <label class="btn btn-primary"><input type="checkbox"/>10</label>
                  <label class="btn btn-primary"><input type="checkbox"/>11</label>
                  <label class="btn btn-primary"><input type="checkbox"/>12</label>
                  <label class="btn btn-primary"><input type="checkbox"/>13</label>
                  <label class="btn btn-primary"><input type="checkbox"/>14</label>
                </div>

                <div class="btn-group clearfix" data-toggle="buttons">
                  <label class="btn btn-primary"><input type="checkbox"/>15</label>
                  <label class="btn btn-primary"><input type="checkbox"/>16</label>
                  <label class="btn btn-primary"><input type="checkbox"/>17</label>
                  <label class="btn btn-primary"><input type="checkbox"/>18</label>
                  <label class="btn btn-primary"><input type="checkbox"/>19</label>
                  <label class="btn btn-primary"><input type="checkbox"/>20</label>
                  <label class="btn btn-primary"><input type="checkbox"/>21</label>
                </div>

                <div class="btn-group clearfix" data-toggle="buttons">
                  <label class="btn btn-primary"><input type="checkbox"/>22</label>
                  <label class="btn btn-primary"><input type="checkbox"/>23</label>
                  <label class="btn btn-primary"><input type="checkbox"/>24</label>
                  <label class="btn btn-primary"><input type="checkbox"/>25</label>
                  <label class="btn btn-primary"><input type="checkbox"/>26</label>
                  <label class="btn btn-primary"><input type="checkbox"/>27</label>
                  <label class="btn btn-primary"><input type="checkbox"/>28</label>
                </div>

                <div class="btn-group clearfix" data-toggle="buttons">
                  <label class="btn btn-primary"><input type="checkbox"/>29</label>
                  <label class="btn btn-primary"><input type="checkbox"/>30</label>
                  <label class="btn btn-primary"><input type="checkbox"/>31</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#schedule-editor" href="#schedule-month">
          <div class="panel-heading">
            <h4 class="panel-title">Month</h4>
          </div>
        </a>
        <div id="schedule-month" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#every-month" data-toggle="tab">every month</a></li>
              <li><a href="#each-selected-month" data-toggle="tab">each selected month</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="every-month">The job will run every month</div>
              <div class="tab-pane" id="each-selected-month">
                <div class="btn-group clearfix" data-toggle="buttons">
                  <label class="btn btn-primary"><input type="checkbox"/>Jan</label>
                  <label class="btn btn-primary"><input type="checkbox"/>Feb</label>
                  <label class="btn btn-primary"><input type="checkbox"/>Mar</label>
                  <label class="btn btn-primary"><input type="checkbox"/>Apr</label>
                  <label class="btn btn-primary"><input type="checkbox"/>May</label>
                  <label class="btn btn-primary"><input type="checkbox"/>Jun</label>
                  <label class="btn btn-primary"><input type="checkbox"/>Jul</label>
                  <label class="btn btn-primary"><input type="checkbox"/>Aug</label>
                  <label class="btn btn-primary"><input type="checkbox"/>Sep</label>
                  <label class="btn btn-primary"><input type="checkbox"/>Oct</label>
                  <label class="btn btn-primary"><input type="checkbox"/>Nov</label>
                  <label class="btn btn-primary"><input type="checkbox"/>Dec</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#schedule-editor" href="#schedule-dotw">
          <div class="panel-heading">
            <h4 class="panel-title">Day of week</h4>
          </div>
        </a>
        <div id="schedule-dotw" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#every-day-of-the-week" data-toggle="tab">every day of the week</a></li>
              <li><a href="#each-selected-day-of-the-week" data-toggle="tab">each selected day of the week</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="every-day-of-the-week">The job will run every day of the week</div>
              <div class="tab-pane" id="each-selected-day-of-the-week">
                <div class="btn-group clearfix" data-toggle="buttons">
                  <label class="btn btn-primary"><input type="checkbox"/>Sun</label>
                  <label class="btn btn-primary"><input type="checkbox"/>Mon</label>
                  <label class="btn btn-primary"><input type="checkbox"/>Tue</label>
                  <label class="btn btn-primary"><input type="checkbox"/>Wed</label>
                  <label class="btn btn-primary"><input type="checkbox"/>Thu</label>
                  <label class="btn btn-primary"><input type="checkbox"/>Fri</label>
                  <label class="btn btn-primary"><input type="checkbox"/>Sat</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Schedule</label>
      <div class="col-sm-10">
        {{input value=job_id type="hidden"}}
        {{input value=schedule_id type="hidden"}}
        <span id="schedule-input">{{input value=formatted type="text" class="form-control"}}</span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success">Save</button>
        <button {{action 'cancel' schedule}} class="btn btn-danger">Cancel</button>
      </div>
    </div>
  </form>
</script>

<script type="text/x-handlebars" id="schedule/index">
  <header class="clearfix">
    <h2 class="pull-left">Schedule #{{id}} for Job '{{job.name}}'</h2>
    <a {{action 'delete' this}} class="pull-right btn btn-danger btn-sm">Delete</a>
    {{#link-to 'schedule.edit' id class="pull-right btn btn-warning btn-sm"}}Edit{{/link-to}}
  </header>
  <hr/>

  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-sm-2 control-label">Schedule</label>
      <div class="col-sm-10">
        <div class="form-control form-control-view">{{formatted}}</div>
      </div>
    </div>
  </form>
</script>

<script type="text/x-handlebars" id="schedules/new">
  <header>
    <h2>Add New Schedule for Job '{{name}}'</h2>
  </header>
  <hr/>

  {{schedule-editor
    save='save'
    cancel='cancel'
    job_id=id}}
</script>

<script type="text/x-handlebars" id="schedule/edit">
  <header class="clearfix">
    <h2 class="pull-left">Edit Schedule #{{id}} for Job '{{job.name}}'</h2>
    <a {{action 'delete' this}} class="pull-right btn btn-danger btn-sm">Delete</a>
  </header>
  <hr/>

  {{schedule-editor
    save='save'
    cancel='cancel'
    job_id=job.id
    schedule_id=id}}
</script>