<header>
  <h2>Delete Schedule for Job '<%= @schedule.job.name %>'?</h2>
</header>
<hr/>

<% if @error %>
  <div class="alert alert-danger" role="alert"><%= @error %></div>
<% end %>

<form class="form-horizontal" role="form" method="POST">
  <input type="submit" class="btn btn-danger" value="Delete Job"/>
  <a href="<%= "#{route_prefix}/job/#{@schedule.job.id}/schedule/#{@schedule.id}" %>" class="btn btn-info">Cancel</a>
</form>
