<header>
  <h2>Welcome to minicron!</h2>
</header>
<hr/>

To get started you need to set up a <a href="<%= "#{route_prefix}/hosts/new" %>">host</a>
and then you can add your first <a href="<%= "#{route_prefix}/jobs/new" %>">job</a>!
