# Ruby Gems
Gemfile.lock
/vendor/

# Test coverage reports
coverage
spec/reports

# Builds
builds/*.tar.gz

# Ignore all sqlite
*.sqlite3
*.sqlite3-journal

# Ignore sass cache
.sass-cache

# Vagrant
.vagrant

# My development config that I symlink to /etc/minicron.toml
my.config.toml

# Builds
pkg/

# Assets
lib/minicron/hub/public
