<header>
  <h2>Delete Job '<%= @job.safe_name %>'?</h2>
</header>
<hr/>

<form class="form-horizontal" role="form" method="POST">
  <input type="submit" class="btn btn-danger" value="Delete Job"/>
  <% if flash[:error] %>
    <input name="force" type="submit" class="btn btn-danger" value="Force Delete Job"/>
  <% end %>
  <a href="<%= "#{route_prefix}/job/#{@job.id}" %>" class="btn btn-info">Cancel</a>
</form>
