<header>
  <h2>Delete Schedule for Job '<%= @schedule.job.safe_name %>'?</h2>
</header>
<hr/>

<form class="form-horizontal" role="form" method="POST">
  <input type="submit" class="btn btn-danger" value="Delete Schedule"/>
  <% if flash[:error] %>
    <input name="force" type="submit" class="btn btn-danger" value="Force Delete Schedule"/>
  <% end %>
  <a href="<%= "#{route_prefix}/job/#{@schedule.job.id}/schedule/#{@schedule.id}" %>" class="btn btn-info">Cancel</a>
</form>
