<header class="clearfix">
  <h2 class="pull-left">View Schedule #<%= @schedule.id %></h2>
  <a href="<%= "#{Minicron::Transport::Server.get_prefix}/schedule/#{@schedule.id}/delete" %>"class="pull-right btn btn-danger btn-sm">Delete</a>
  <a href="<%= "#{Minicron::Transport::Server.get_prefix}/schedule/#{@schedule.id}/edit" %>"class="pull-right btn btn-warning btn-sm">Edit</a>
</header>
<hr/>
