<!doctype html>
<html>
<head>
  <title>minicron</title>

  <%= css :app, :media => 'screen' %>
</head>
<body>
  <%= yield %>

  <%= js :app, :media => 'screen' %>
  <script>
    window.Minicron.config = {
      path: '<%= Minicron.config['server']['path'] %>'
    };
  </script>
</body>
</html>
