<!doctype html>
<html>
<head>
  <title>minicron</title>

  {{ css }}
  {{ js }}
</head>
<body>

  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand">minicron</a>
      </div>
    </div>
  </div>

  <div class="container">
    {{ yield }}
  </div>

</body>
</html>