<header>
  <h2>Delete Host '<%= @host.name %>'?</h2>
</header>
<hr/>

<% if @error %>
  <div class="alert alert-danger" role="alert">
    <h4>Error</h4>
    <p>"<%= @error %>"</p>
    <p>You can force delete the host without connecting to the host</p>
  </div>
<% end %>

<form class="form-horizontal" role="form" method="POST">
  <input type="submit" class="btn btn-danger" value="Delete Host"/>
  <% if @error %>
    <input name="force" type="submit" class="btn btn-danger" value="Force Delete Host"/>
  <% end %>
  <a href="<%= "#{route_prefix}/host/#{@host.id}" %>" class="btn btn-info">Cancel</a>
</form>
