<script type="text/x-handlebars">
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand">minicron</a>
      </div>
    </div>
  </div>

  <div class="container">
    {{outlet}}
  </div>
</script>

<script type="text/x-handlebars" id="executions">
  <div class="row">
    <div class="col-md-3">
      <table class='table'>
        <thead>
          <tr><th>Recent Job Executions</th></tr>
        </thead>
        {{#each model}}
        <tr><td>
          {{#link-to 'execution' execution_id}}{{job.name}}{{/link-to}}
        </td></tr>
        {{/each}}
      </table>
    </div>

    <div class="col-md-9">
      {{outlet}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" id="executions/index">
  <p class="text-warning">Please select a job</p>
</script>

<script type="text/x-handlebars" id="execution">
  <ul>
    <li><h4>Job</h4></li>
    <ul>
      <li><b>Job ID:</b> {{job.job_id}}</li>
      <li><b>Name:</b> {{job.name}}</li>
      <li><b>Command:</b> {{job.command}}</b></li>
      <li><b>Host:</b> {{job.host}}</b></li>
      <li><b>Created At:</b> {{job.created_at}}</b></li>
    </ul>

    <li><h4>Execution</h4></li>
    <ul>
      <li><b>Execution ID:</b> {{execution_id}}</li>
      <li><b>Started At:</b> {{started_at}}</li>
      <li><b>Finished At:</b> {{finished_at}}</li>
      <li><b>Exit Status:</b> {{exit_status}}</li>
    </ul>

    <li><h4>Output</h4></li>
    <ul>
      {{#each job_execution_output}}<li>{{output}}</li>{{/each}}
    </ul>
  </ul>

</script>