<script type="text/x-handlebars">
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand">minicron</a>
      </div>
    </div>
  </div>

  <div class="container">
    {{outlet}}
  </div>
</script>

<script type="text/x-handlebars" id="jobs">
  <div class="row">
    <div class="col-md-3">
      <table class='table'>
        <thead>
          <tr><th>Recent Jobs</th></tr>
        </thead>
        {{#each job in model}}
        <tr><td>
          {{#link-to 'job' job.job_id}}{{job.command}}{{/link-to}}
        </td></tr>
        {{/each}}
      </table>
    </div>

    <div class="col-md-9">
      {{outlet}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" id="jobs/index">
  <p class="text-warning">Please select a job</p>
</script>

<script type="text/x-handlebars" id="job">
  <ul>
    <li><b>ID:</b> {{job_id}}</li>
    <li><b>Command:</b> {{command}}</b></li>
    <li><b>Host:</b> {{host}}</b></li>
    <li><b>Created At:</b> {{created_at}}</b></li>
  </ul>
</script>